@import "nullstyle.scss";

$ffm:'Montserrat', sans-serif;
$ffp:'Playfair Display', serif;

%button{
  font-size: 1.14em ;
  background-color: #99862A;
  color: white  ;
  padding: 1.14em 2.28em   1.14em 2.28em;
  font-family: 'Montserrat', sans-serif ;
  display: inline-block;
  text-transform: uppercase;
}
.bgc_img{
  background-image: url("../img/bgc.png");
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contact_info{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 20px;
  >li>a{
    color: white;
    font-family: $ffm;
  }
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}
.nav_menu_header{
  list-style-type: none;
  border-bottom:1px solid white;
  border-top:1px solid white;
  display: flex;
  justify-content: space-around;
  >li>a{
    font-size: 1em;
    color: white;
    font-family: $ffm;
    margin-top: 10px;
    padding: 15px 107px 15px 107px;
  }
}
.a_border{
  border-left:1px white solid;
  border-right:1px white solid;

}
.a_head{
  padding-top: 15px;
  padding-bottom: 15px;
}
.block_button{
  max-width: 430px;
  display: flex;
  margin: 583px auto 150px;
  justify-content: space-between;
}
.button_header{
  @extend %button;
}







@media(max-width: 79.64em){
  .nav_menu_header{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border: 1px solid white;
    >li>a{
      padding: 15px 0px 15px 0px;
    }
  }
  .a_border{
    border-left:0px;
    border-right:0px;
  }
  .a_head{
    margin: 0 auto;
  }
  .container{
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media(max-width: 34.28em){
  .nav_menu_header{
    display: grid;
    grid-template-columns: 1fr  ;
    border: 1px solid white;
    >li>a{
      padding: 15px 0px 15px 0px;
    }
  }
  .a_border{
    border-left:0px;
    border-right:0px;
  }
  .a_head{
    margin: 0 auto;
  }
  .container{
    padding-right: 15px;
    padding-left: 15px;
  }
  .a_bottom{
    padding-right: 10px;
  }
  .block_button{
    max-width: 430px;
    display:grid;
    margin: 120px auto 150px;
    justify-content: center;
  }
  .button_header{
    @extend %button;
    margin-bottom: 15px;

  }
  .bgc_img{
    height: 600px;
}
}
